<div class="notification is-success">

    <h2>End of the Random Play!</h2>
    <h3>Successful answers = <strong><%= score %></strong></h3>
    <p>You answered all questions. You are the winner!.</p>
    <a class="button green" href="/quizzes">Go Back</a>
    <a class="button red" href="/quizzes/randomplay">Restart</a>

</div>   