<h1>Your stats for The Quiz Site are...</h1>
            <div class="box">
                <canvas id="myChart" widht="120vh" height="120vh"></canvas>
            </div>
<script>
   var chart = document.getElementById('myChart').getContext('2d');

    var myChart = new Chart(chart, {
        type: 'pie',
        data: {
            labels: ['Points', 'Fails'],
            datasets: [{
                label: '# of Elements',
                data: [<%=user.points%>,<%=user.fails%>],
                backgroundColor: [
                    'rgba(54, 162, 235, 0.8)',
                    'rgba(255, 99, 132, 0.8)'
                ],
                borderWidth: 1
            }]
        },
        options: {
            responsive: true
        }
    });
</script>
